.sssss {
  padding: 2rem 1rem;
  text-align: center;
  font-size: xx-large;
}
.site-heading-lower {
  color: #d795dd98;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(49, 2, 45, 0.945));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif;
  color: #333;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: #e4a4d4;
  font-weight: 300;
  padding: 10px 18px;
  text-transform: uppercase;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.nav-link:hover {
  background: rgba(228, 148, 148, 0.7);
  color: #5e4318d5;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.image-container img {
  max-width: 500px;
  height: auto;
}